/* Two contain the two containers */
.container{
    display:flex;
    flex-wrap: wrap;
    gap:2em;
}
.container--column{
    display: flex;
    flex-direction: column;
}
.drag-container,
.drop-container {
    border: 1px solid black;
    padding: 0.5rem;
    flex:2;
    margin:0.5em 0;
    width:100%;
    height:auto;
    
}
/* For reset button */
.reset{
    flex:2
}
/* To be added when the element is being dragged */
.dragging {
    cursor:move;
    background-color: pink;
}
